<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Stream</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <div id="app">

    <div class="container">

      
      <div class="centerCamera" v-if="showVideo == true">
        
        <div class='configBtn' id='configBtn'>
          
          <button @click='this.StartCamera()'>
            <i class="fa-solid fa-play"></i>
          </button>
          
          <button @click='this.StopCamera()'>
            <i class="fa-solid fa-stop"></i>
          </button>
          
          <button @click='this.RotateCamera()'>
            <i class="fa-sharp fa-solid fa-rotate"></i>
          </button>
  
 
          
        </div>


            <div class="bgCamera">
              <img id='camera' class="camera" src="{{ url_for('video_feed') }}">
            </div>


            

            <button class="motorBtn" onclick="SendMotorSignal('V')">вперед</button>
            <button class="motorBtn" onclick="SendMotorSignal('R')">вправо</button>
            <button class="motorBtn" onclick="SendMotorSignal('L')">влево</button>
            <button class="motorBtn" onclick="SendMotorSignal('NAZ')">назад</button>


          <div id="temp">
            temp
          </div>


          <div class="loginDiv" v-if="showVideo == false">

            <label for="uname"><b>Username</b></label>
            <input v-model="this.username" type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input v-model="this.password" type="password" placeholder="Enter Password" name="psw" required>

            <button @click='CheckUser()' type="submit">потвердить</button>



          </div>

        </div>


      </div>
    </div>


 
    <script type="application/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"
      integrity="sha512-0qU9M9jfqPw6FKkPafM3gy2CBAvUWnYVOfNPDYKVuRTel1PrciTj+a9P3loJB+j0QmN2Y0JYQmkBBS8W+mbezg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script type="application/javascript" src="static/js/main.js"></script>
    <script type="application/javascript" src="static/js/vueApp.js"></script>





</body>

</html>